{margin:0; padding:0;}

html{background: #FFFAFA;}
canvas{    
    border:1px solid #000;
    
    background:grey;    
    
    margin-top:100px;
    
    padding-left: 0;
    padding-right: 0;
    margin-left:auto;
    margin-right:auto;
    
    display: block;    

}


.buttons{
    cursor: crosshair;    
}