{margin:0; padding:0;}

canvas{
    background:grey;
    
    margin-top:100px;
    
    padding-left: 0;
    padding-right: 0;
    margin-left:auto;
    margin-right:auto;
    
    display: block;    

}
