# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
5 Show Local Weather/LoginDetails(DoNotSync).txt
5 Show Local Weather/1Resrouces/1370500.jpg
5 Show Local Weather/1Resrouces/IconsToDo.txt
5 Show Local Weather/1Resrouces/logos.psd
5 Show Local Weather/1Resrouces/iconRef.JPG
5 Show Local Weather/AppUsingGeolocation/LoginDetails(DoNotSync).txt
